@charset "UTF-8";
/*Logo et Titres*/
/*Texte*/
body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding:  0;
  margin: 0;
}

.loader-container {
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: hide 0s ease-in 3s forwards;
          animation: hide 0s ease-in 3s forwards;
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.loader {
  width: 150px;
  height: 150px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg {
  width: 90%;
  fill: none;
}

.load {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
}

.load.one {
  stroke: #99E2D0;
  -webkit-animation: load 1.5s infinite;
          animation: load 1.5s infinite;
}

.load.two {
  stroke: #FF79DA;
  -webkit-animation: load 1.5s infinite;
          animation: load 1.5s infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.load.three {
  stroke: #9356DC;
  -webkit-animation: load 1.5s infinite;
          animation: load 1.5s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.point {
  -webkit-animation: bounce 1s infinite ease-in-out;
          animation: bounce 1s infinite ease-in-out;
}

.point.one {
  fill: #FF79DA;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.point.two {
  fill: #9356DC;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.point.three {
  fill: #99E2D0;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background-color: #D7DBDF;
}

.loc .lieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loc .lieu .icone-map {
  padding-right: 18px;
}

.descrip {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
}

.descrip h2 {
  font-size: 30px;
}

.descrip p {
  font-size: 20px;
}

.descrip button {
  border: transparent 1px solid;
  border-radius: 25px;
  padding: 16px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin: 20px;
  background: -webkit-linear-gradient(#9356DC 10%, #FF79DA 90%);
  -webkit-box-shadow: 1px 1px 5px #9e9e9e;
          box-shadow: 1px 1px 5px #9e9e9e;
}

.fonctionnement {
  width: 100%;
  height: auto;
  display: block;
}

.fonctionnement h2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.fonctionnement .fonction {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonctionnement .fonction :hover {
  background-color: #eddcf7;
  border-radius: 25px;
}

.fonctionnement .fonction .inside-fonction {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 40px 20px 5px;
  border-radius: 25px;
}

.fonctionnement .fonction .inside-fonction .number {
  position: absolute;
  color: #f2f2f2;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px;
  margin-top: 18px;
  margin-right: 250px;
}

.fonctionnement .fonction .inside-fonction .icone-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .fonction .inside-fonction .icone-titre h4 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-right: 15px;
}

.fonctionnement .fonction .inside-fonction .fa-mobile-alt, .fonctionnement .fonction .inside-fonction .fa-list-ul, .fonctionnement .fonction .inside-fonction .fa-store {
  padding-left: 30px;
  padding-right: 30px;
}

.fonctionnement .fonction .inside-fonction .fa-store {
  color: #9356DC;
}

#restaurants {
  width: 100%;
  height: auto;
  display: block;
  background-color: #f2f2f2;
  padding-top: 15px;
}

#restaurants h2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

#restaurants .resto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurants .resto .carte-resto {
  height: 220px;
  width: 40%;
  border: 5px white solid;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px #F2F2F2;
          box-shadow: 2px 2px 2px #F2F2F2;
  background-color: white;
  overflow: hidden;
  position: relative;
  margin: 10px 50px 20px 0;
}

#restaurants .resto .carte-resto .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #99E2D0;
  color: #2c9c81;
  position: absolute;
  border-radius: 3px;
  padding: 10px;
  margin-left: 660px;
  font-weight: bold;
}

#restaurants .resto .carte-resto img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
}

#restaurants .resto .titre-lieu-resto1 {
  position: absolute;
}

#restaurants .resto .titre-lieu-resto1 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: black;
}

#restaurants .resto .titre-lieu-resto1 .p-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#restaurants .resto .titre-lieu-resto1 .p-coeur p {
  margin-top: 5px;
  padding-left: 9px;
  font-size: 20px;
  color: black;
}

#restaurants .resto .titre-lieu-resto1 .p-coeur .fa-heart {
  padding-left: 600px;
  color: black;
  font-size: 25px;
}

#restaurants .resto .titre-lieu-resto1 .p-coeur .fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  font-weight: bold;
}

#restaurants .resto .titre-lieu-resto2 {
  position: absolute;
}

#restaurants .resto .titre-lieu-resto2 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: black;
}

#restaurants .resto .titre-lieu-resto2 .p-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#restaurants .resto .titre-lieu-resto2 .p-coeur p {
  margin-top: 5px;
  padding-left: 9px;
  font-size: 20px;
  color: black;
}

#restaurants .resto .titre-lieu-resto2 .p-coeur .fa-heart {
  padding-left: 640px;
  color: black;
  font-size: 25px;
}

#restaurants .resto .titre-lieu-resto2 .p-coeur .fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  font-weight: bold;
}

#restaurants .resto .titre-lieu-resto3 {
  position: absolute;
}

#restaurants .resto .titre-lieu-resto3 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: black;
}

#restaurants .resto .titre-lieu-resto3 .p-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#restaurants .resto .titre-lieu-resto3 .p-coeur p {
  margin-top: 5px;
  padding-left: 9px;
  font-size: 20px;
  color: black;
}

#restaurants .resto .titre-lieu-resto3 .p-coeur .fa-heart {
  padding-left: 630px;
  color: black;
  font-size: 25px;
}

#restaurants .resto .titre-lieu-resto3 .p-coeur .fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  font-weight: bold;
}

#restaurants .resto .titre-lieu-resto4 {
  position: absolute;
}

#restaurants .resto .titre-lieu-resto4 h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: black;
}

#restaurants .resto .titre-lieu-resto4 .p-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#restaurants .resto .titre-lieu-resto4 .p-coeur p {
  margin-top: 5px;
  padding-left: 9px;
  font-size: 20px;
  color: black;
}

#restaurants .resto .titre-lieu-resto4 .p-coeur .fa-heart {
  padding-left: 588px;
  color: black;
  font-size: 25px;
}

#restaurants .resto .titre-lieu-resto4 .p-coeur .fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  font-weight: bold;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  background-color: #423f3f;
}

footer h2 {
  top: 0;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 40px;
  color: white;
  text-decoration: none;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  color: white;
}

footer li {
  color: white;
  list-style: none;
  text-decoration: none;
  margin-bottom: 10px;
}

footer li a {
  color: white;
}

footer li a:link {
  text-decoration: none;
}

footer .fa-utensils {
  padding-right: 20px;
}

footer .fa-hands-helping {
  padding-right: 10px;
}

/*Version tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
    margin: 0;
  }
  .fonctionnement {
    width: 100%;
    display: block;
  }
  .fonctionnement h2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 25px;
  }
  .fonctionnement .inside-fonction .number {
    margin-top: 12px;
    margin-right: 210px;
  }
  .fonctionnement .inside-fonction .icone-titre .fa-mobile-alt, .fonctionnement .inside-fonction .icone-titre .fa-list-ul, .fonctionnement .inside-fonction .icone-titre .fa-store {
    font-size: 14px;
  }
  .fonctionnement .inside-fonction .icone-titre h4 {
    font-size: 14px;
  }
  #restaurants {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px 0;
  }
  #restaurants h2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 25px;
  }
  #restaurants .resto {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #restaurants .resto .carte-resto {
    height: 220px;
    width: 48%;
    border: 5px white solid;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 2px #F2F2F2;
            box-shadow: 2px 2px 2px #F2F2F2;
    background-color: white;
    overflow: hidden;
    position: relative;
    margin: 10px 5px 20px 0;
  }
  #restaurants .resto .carte-resto .new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #99E2D0;
    color: #2c9c81;
    border-radius: 3px;
    position: absolute;
    padding: 10px;
    margin-left: 400px;
    font-weight: bold;
  }
  #restaurants .resto .carte-resto img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
  }
  #restaurants .resto .titre-lieu-resto1 {
    position: absolute;
  }
  #restaurants .resto .titre-lieu-resto1 h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto1 .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants .resto .titre-lieu-resto1 .p-coeur p {
    padding-top: 10px;
    padding-left: 9px;
    font-size: 18px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto1 .p-coeur .fa-heart {
    padding-left: 350px;
    color: black;
    font-size: 25px;
  }
  #restaurants .resto .titre-lieu-resto2 {
    position: absolute;
  }
  #restaurants .resto .titre-lieu-resto2 h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto2 .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants .resto .titre-lieu-resto2 .p-coeur p {
    padding-top: 10px;
    padding-left: 9px;
    font-size: 18px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto2 .p-coeur .fa-heart {
    padding-left: 380px;
    color: black;
    font-size: 25px;
  }
  #restaurants .resto .titre-lieu-resto3 {
    position: absolute;
  }
  #restaurants .resto .titre-lieu-resto3 h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto3 .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants .resto .titre-lieu-resto3 .p-coeur p {
    padding-top: 10px;
    padding-left: 9px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto3 .p-coeur .fa-heart {
    padding-left: 368px;
    color: black;
    font-size: 25px;
  }
  #restaurants .resto .titre-lieu-resto4 {
    position: absolute;
  }
  #restaurants .resto .titre-lieu-resto4 h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto4 .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants .resto .titre-lieu-resto4 .p-coeur p {
    padding-top: 10px;
    padding-left: 9px;
    font-size: 18px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto4 .p-coeur .fa-heart {
    padding-left: 335px;
    color: black;
    font-size: 25px;
  }
}

/*Version mobile*/
@media screen and (max-width: 767px) {
  body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
    margin: 0;
  }
  .descrip {
    padding-bottom: 40px;
  }
  .fonctionnement {
    width: 100%;
    display: block;
    padding-top: 25px;
  }
  .fonctionnement h2 {
    font-size: 25px;
    margin-right: 160px;
  }
  .fonctionnement .fonction {
    display: block;
  }
  .fonctionnement .fonction :hover {
    background-color: #eddcf7;
    border-radius: 25px;
  }
  .fonctionnement .fonction .inside-fonction {
    margin-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 90%;
  }
  .fonctionnement .fonction .inside-fonction .number {
    margin-right: 330px;
  }
  .fonctionnement .fonction .inside-fonction .icone-titre {
    margin-left: 0px;
  }
  #restaurants {
    width: 100%;
    display: block;
    margin-top: 25px;
    padding-bottom: 50px;
  }
  #restaurants h2 {
    font-size: 25px;
    padding-top: 15px;
    margin-right: 210px;
  }
  #restaurants .resto {
    display: block;
  }
  #restaurants .resto .carte-resto {
    width: 97%;
    height: 200px;
    border: 5px white solid;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 2px #F2F2F2;
            box-shadow: 2px 2px 2px #F2F2F2;
    background-color: white;
    overflow: hidden;
    position: relative;
  }
  #restaurants .resto .carte-resto .new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #99E2D0;
    color: #2c9c81;
    position: absolute;
    border-radius: 3px;
    padding: 10px;
    margin-left: 280px;
    font-weight: bold;
  }
  #restaurants .resto .carte-resto img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
  }
  #restaurants .resto .titre-lieu-resto1 {
    width: 100%;
    position: absolute;
  }
  #restaurants .resto .titre-lieu-resto1 h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto1 .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants .resto .titre-lieu-resto1 .p-coeur p {
    margin-top: 5px;
    padding-left: 9px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto1 .p-coeur .fa-heart {
    padding-left: 210px;
    color: black;
    font-size: 25px;
  }
  #restaurants .resto .titre-lieu-resto1 .p-coeur .fa-heart:hover {
    background: #9356DC, #FF79DA;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    font-weight: bold;
  }
  #restaurants .resto .titre-lieu-resto2 {
    width: 100%;
    position: absolute;
  }
  #restaurants .resto .titre-lieu-resto2 h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto2 .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants .resto .titre-lieu-resto2 .p-coeur p {
    margin-top: 5px;
    padding-left: 9px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto2 .p-coeur .fa-heart {
    padding-left: 245px;
    color: black;
    font-size: 25px;
  }
  #restaurants .resto .titre-lieu-resto2 .p-coeur .fa-heart:hover {
    background: #9356DC, #FF79DA;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    font-weight: bold;
  }
  #restaurants .resto .titre-lieu-resto3 {
    width: 100%;
    position: absolute;
  }
  #restaurants .resto .titre-lieu-resto3 h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto3 .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants .resto .titre-lieu-resto3 .p-coeur p {
    margin-top: 5px;
    padding-left: 9px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto3 .p-coeur .fa-heart {
    padding-left: 235px;
    color: black;
    font-size: 25px;
  }
  #restaurants .resto .titre-lieu-resto3 .p-coeur .fa-heart:hover {
    background: #9356DC, #FF79DA;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    font-weight: bold;
  }
  #restaurants .resto .titre-lieu-resto4 {
    width: 100%;
    position: absolute;
  }
  #restaurants .resto .titre-lieu-resto4 h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto4 .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants .resto .titre-lieu-resto4 .p-coeur p {
    margin-top: 5px;
    padding-left: 9px;
    font-size: 20px;
    color: black;
  }
  #restaurants .resto .titre-lieu-resto4 .p-coeur .fa-heart {
    padding-left: 190px;
    color: black;
    font-size: 25px;
  }
  #restaurants .resto .titre-lieu-resto4 .p-coeur .fa-heart:hover {
    background: #9356DC, #FF79DA;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    font-weight: bold;
  }
  footer {
    width: auto;
    height: auto;
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */