@charset "UTF-8";
/*Logo et Titres*/
/*Texte*/
body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding:  0;
  margin: 0;
}

#spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #99E2D0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffffff), color-stop(42%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.thingtohide {
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 2s forwards;
  /* Safari and Chrome */
  /* Opera */
  animation: cssAnimation 0s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

header {
  width: 100%;
  -o-object-fit:  cover;
     object-fit:  cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background-color: #D7DBDF;
}

.loc .lieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loc .icone-map {
  padding-right: 18px;
}

.descrip {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
}

.descrip h2 {
  font-size: 30px;
}

.descrip button {
  border: transparent 1px solid;
  border-radius: 25px;
  padding: 16px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin: 20px;
  background-color: #FF79DA;
  -webkit-box-shadow: 1px 1px 5px #9e9e9e;
          box-shadow: 1px 1px 5px #9e9e9e;
}

.fonctionnement {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.fonctionnement h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 25px;
  text-align: center;
  padding: 0 50px 20px 0;
}

.fonctionnement .fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.fonctionnement .fonction :hover {
  background-color: #eddcf7;
  border-radius: 25px;
}

.fonctionnement .inside-fonction {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 40px 20px 5px;
  border-radius: 25px;
}

.fonctionnement .number {
  position: absolute;
  color: #f2f2f2;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px;
  margin-top: 18px;
  margin-right: 250px;
}

.fonctionnement .icone-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .icone-titre h4 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-right: 15px;
}

.fonctionnement .fa-mobile-alt, .fonctionnement .fa-list-ul, .fonctionnement .fa-store {
  padding-left: 30px;
  padding-right: 30px;
}

.fonctionnement .fa-store {
  color: #9356DC;
}

#restaurants {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  background-color: #f2f2f2;
}

#restaurants h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 20px;
  font-size: 25px;
}

#restaurants .carte-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 400px;
  width: 20%;
  border: 5px white solid;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px #F2F2F2;
          box-shadow: 2px 2px 2px #F2F2F2;
  background-color: white;
  overflow: hidden;
  position: relative;
  margin: 10px 5px 20px 0;
}

#restaurants .carte-resto .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #99E2D0;
  color: #2c9c81;
  border-radius: 3px;
  position: absolute;
  padding: 10px;
  margin-left: 280px;
  font-weight: bold;
}

#restaurants .carte-resto img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
}

#restaurants .titre-lieu-resto {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 20px;
}

#restaurants .titre-lieu-resto h3 {
  margin-top: 0;
  font-size: 22px;
  color: black;
}

#restaurants .titre-lieu-resto .p-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurants .titre-lieu-resto .p-coeur p {
  font-size: 20px;
  color: black;
}

#restaurants .titre-lieu-resto .p-coeur .fa-heart {
  padding-left: 200px;
  color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  background-color: #595959;
}

footer h2 {
  top: 0;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 40px;
  color: white;
  text-decoration: none;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  color: white;
}

footer li {
  color: white;
  list-style: none;
  text-decoration: none;
  margin-bottom: 10px;
}

footer li a {
  color: white;
}

footer li a:link {
  text-decoration: none;
}

footer .fa-utensils {
  padding-right: 20px;
}

footer .fa-hands-helping {
  padding-right: 10px;
}

/*Version tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding:  0;
    margin: 0;
  }
  .fonctionnement {
    width: 100%;
  }
  .fonctionnement h2 {
    font-size: 20px;
  }
  .fonctionnement .fonction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fonctionnement .fonction .inside-fonction .number {
    margin-top: 12px;
    margin-right: 210px;
  }
  .fonctionnement .fonction .inside-fonction .icone-titre .fa-mobile-alt, .fonctionnement .fonction .inside-fonction .icone-titre .fa-list-ul, .fonctionnement .fonction .inside-fonction .icone-titre .fa-store {
    font-size: 14px;
  }
  .fonctionnement .fonction .inside-fonction .icone-titre h4 {
    font-size: 14px;
  }
  #restaurants {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px 0;
  }
  #restaurants h2 {
    font-size: 20px;
  }
  #restaurants .carte-resto {
    height: 300px;
    width: 35%;
    border: 5px white solid;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 2px #F2F2F2;
            box-shadow: 2px 2px 2px #F2F2F2;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 40px;
  }
  #restaurants .carte-resto .new {
    background: #99E2D0;
    color: #2c9c81;
    border-radius: 3px;
    position: absolute;
    padding: 8px;
    margin-left: 270px;
    font-weight: bold;
  }
  #restaurants .titre-lieu-resto {
    width: 100%;
    background-color: white;
    padding: 20px;
  }
  #restaurants .titre-lieu-resto h3 {
    font-size: 18px;
  }
  #restaurants .titre-lieu-resto .p-coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #restaurants .titre-lieu-resto .p-coeur p {
    font-size: 15px;
  }
  #restaurants .titre-lieu-resto .p-coeur .fa-heart {
    font-size: 15px;
    padding-left: 180px;
  }
}

/*Version mobile*/
@media screen and (max-width: 767px) {
  body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding:  0;
    margin: 0;
  }
  .fonctionnement {
    width: 100%;
    display: block;
  }
  .fonctionnement h2 {
    font-size: 20px;
    margin-left: 25px;
  }
  .fonctionnement .fonction {
    display: block;
  }
  #restaurants {
    width: 100%;
    height: auto;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px 0;
  }
  #restaurants h2 {
    font-size: 20px;
  }
  #restaurants .carte-resto {
    height: auto;
    width: 100%;
    border: 5px white solid;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 2px #F2F2F2;
            box-shadow: 2px 2px 2px #F2F2F2;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 40px;
  }
  #restaurants .carte-resto .new {
    background: #99E2D0;
    color: #2c9c81;
    border-radius: 3px;
    position: absolute;
    padding: 8px;
    margin-left: 270px;
    font-weight: bold;
  }
  #restaurants .titre-lieu-resto {
    width: 100%;
    background-color: white;
    padding: 20px;
  }
  #restaurants .titre-lieu-resto h3 {
    margin-top: 0;
    font-size: 18px;
  }
  #restaurants .titre-lieu-resto .p-coeur p {
    margin-top: 0;
    font-size: 15px;
  }
  #restaurants .titre-lieu-resto .p-coeur .fa-heart {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */