$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$font-family-primary: 'Shrikhand', cursive; /*Logo et Titres*/
$font-family-secondary: 'Roboto', sans-serif; /*Texte*/

body {
    flex: 1;
    padding: 0;
    margin: 0;
}    

header {
    width: 100%;
    $font-family-primary: 'Shrikhand', cursive;
    object-fit: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
        .fa-arrow-left {
            margin-left: -420px;
        }
            .logo-header {
                margin-right: 420px;
            }
}

main img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.titre-coeur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        h1 {
            $font-family-primary: 'Shrikhand', cursive;
            font-size: 45px;
        }
            .fa-heart {
                font-size: 30px;
                padding: 10px 0 0 20px;
                font-weight: normal;
            }
            .fa-heart:hover {
                background: linear-gradient($color-primary, $color-secondary);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 1s ease-out;
                font-weight: bold;
            }
}

@keyframes apparition-menu {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.menu {
    $font-family-secondary: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    padding-bottom: 30px;
        .entrees {
            width: 25%;
            height: auto;
            opacity: 1;
            animation: apparition-menu 1s ease-in-out;
            
                h2 {
                    $font-family-primary: 'Shrikhand', cursive;
                    font-size: 25px;
                    text-align: center;
                }
                    .assiete-entree1, .assiete-entree2, .assiete-entree3, .assiete-entree4 {
                        width: 100%;
                        height: 110px;
                        background-color: white;
                        border: white 2px solid;
                        border-radius: 15px;
                        margin-bottom: 20px;
                        display: flex;
                        flex-shrink: 1;
                        flex-grow: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        align-items: center;
                        cursor: pointer;
                        box-shadow: 4px 5px 4px #c6c5c5;
                        margin-bottom: 20px;
                        position: relative;

                        &:hover {
                            .titre-txt {
                                width: 50%;
                            }
                    
                            .check{
                                transform: translateX(0);
                                flex-shrink: 1;
                                &::after {
                                    transform: rotate(-720deg);
                                }
                            }
                        }
                    }
                        .titre-txt {
                            width: 80%;
                            margin: 15px 10px 15px;
                            transition: width 800ms;
                        
                            h3 {
                                font-size: 20px;
                                margin-bottom: 6px;
                            }
                        
                            p {
                                width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: block;
                            }
                        }
                        
                        .check{
                            position: absolute;
                            display: flex;
                            top: 0;
                            right:0;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            width: 20%;
                            transform: translateX(110px);
                            transition: transform 800ms;
                            background-color: #99E2D0;
                            &:after {
                                font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058";
                                font-size: 20px;
                                color: white;
                                transform: rotate(0deg);
                                transition: transform 600ms 100ms;
                            }
                        }
        }
            .plats {
                width: 25%;
                height: auto;
                opacity: 1;
                animation: apparition-menu 2s ease-in-out;
                    h2 {
                        $font-family-primary: 'Shrikhand', cursive;
                        font-size: 25px;
                        text-align: center;
                        padding-bottom: 55px;
                    }
                    .assiete-plat1, .assiete-plat2, .assiete-plat3 {
                        width: 100%;
                        height: 110px;
                        background-color: white;
                        border: white 2px solid;
                        border-radius: 15px;
                        margin-bottom: 20px;
                        display: flex;
                        flex-shrink: 1;
                        flex-grow: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        align-items: center;
                        cursor: pointer;
                        box-shadow: 4px 5px 4px #c6c5c5;
                        margin-bottom: 20px;
                        position: relative;

                        &:hover {
                            .titre-txt {
                                width: 50%;
                            }
                    
                            .check{
                                transform: translateX(0);
                                flex-shrink: 1;
                                &::after {
                                    transform: rotate(-720deg);
                                }
                            }
                        }
                    }
                        .titre-txt {
                            width: 80%;
                            margin: 15px 10px;
                            transition: width 800ms;
                        
                            h3 {
                                font-size: 20px;
                                margin-bottom: 6px;
                            }
                        
                            p {
                                width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: block;
                            }
                        }
                        
                        .check{
                            position: absolute;
                            display: flex;
                            top: 0;
                            right:0;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            width: 20%;
                            transform: translateX(110px);
                            transition: transform 800ms;
                            background-color: #99E2D0;
                            &:after {
                                font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058";
                                font-size: 20px;
                                color: white;
                                transform: rotate(0deg);
                                transition: transform 600ms 100ms;
                            }
                        }
            }
                .desserts {
                    width: 25%;
                    height: auto;
                    opacity: 1;
                    animation: apparition-menu 3s ease-in-out;
                        h2 {
                            $font-family-primary: 'Shrikhand', cursive;
                            font-size: 25px;
                            text-align: center;
                            padding-bottom: 55px;
                        }
                        .assiete-dessert1, .assiete-dessert2, .assiete-dessert3 {
                            width: 100%;
                            height: 110px;
                            background-color: white;
                            border: white 2px solid;
                            border-radius: 15px;
                            margin-bottom: 20px;
                            display: flex;
                            flex-shrink: 1;
                            flex-grow: 1;
                            white-space: nowrap;
                            overflow: hidden;
                            align-items: center;
                            cursor: pointer;
                            box-shadow: 4px 5px 4px #c6c5c5;
                            margin-bottom: 20px;
                            position: relative;
    
                            &:hover {
                                .titre-txt {
                                    width: 50%;
                                }
                        
                                .check{
                                    transform: translateX(0);
                                    flex-shrink: 1;
                                    &::after {
                                        transform: rotate(-720deg);
                                    }
                                }
                            }
                        }
                            .titre-txt {
                                width: 80%;
                                margin: 3.5% 3% 3.8%;
                                transition: width 800ms;
                            
                                h3 {
                                    font-size: 20px;
                                    margin-bottom: 6px;
                                }
                            
                                p {
                                    width: 100%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: block;
                                }
                            }
                            
                            .check{
                                position: absolute;
                                display: flex;
                                top: 0;
                                right:0;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                width: 20%;
                                transform: translateX(110px);
                                transition: transform 800ms;
                                background-color: #99E2D0;
                                &:after {
                                    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058";
                                    font-size: 20px;
                                    color: white;
                                    transform: rotate(0deg);
                                    transition: transform 600ms 100ms;
                                }
                            }
                }
}

.button-command {
    border: transparent 1px solid;  
    border-radius: 25px;
    padding: 15px 30px;
    margin: 20px 860px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: -webkit-linear-gradient($color-primary 10%, $color-secondary 90%);
    box-shadow: 2px 2px 5px #9e9e9e;
    &:hover {
        cursor: pointer;
        box-shadow: 5px 4px 5px 4px rgb(201, 197, 197);
        transform: scale(1.2);
    }
}

footer {
    $font-family-secondary: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: #595959;
        h2 {
            $font-family-primary: 'Shrikhand', cursive;
            top: 0;
            font-size: 30px;
            padding-top: 10px;
            padding-left: 40px;
            color: white;
            text-decoration: none;
        }
                a:link {
                    text-decoration: none;
                }
                    a:visited {
                        color: white;
                    }
            li {
                color: white;
                list-style: none;
                text-decoration: none;
                margin-bottom: 10px;
                    a {
                        color: white;
                    }
            }
            .fa-utensils {
                padding-right: 20px;
            }
            .fa-hands-helping {
                    padding-right: 10px;
            }
}

/*Version tablette*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    body {
        flex: 1;
        padding: 0;
        margin: 0;
    }

    header {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
            .fa-arrow-left {
                margin-left: 10px;
                color: grey;
            }
                .logo-header {
                    margin-right: 400px;
                }
    }

    .menu {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #f2f2f2;
        margin-bottom: 20px;
            .entrees, .plats, .desserts {
                width: 80%;
                height: auto;
                margin: 20px;
                    h2 {
                        font-size: 20px;
                    }
                .assiete-entree, .assiete-plat, .assiete-dessert {
                    width: 100%;
                    height: 110px;
                    background-color: white;
                    border: white 2px solid;
                    border-radius: 15px;
                    margin-bottom: 20px;
                    display: flex;
                    flex-shrink: 1;
                    flex-grow: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-items: center;
                    cursor: pointer;
                    box-shadow: 4px 5px 4px #c6c5c5;
                    margin-bottom: 20px;
                    position: relative;
                        &:hover {
                        .titre-txt {
                            width: 50%;
                        }

                        .check{
                            transform: translateX(0);
                            flex-shrink: 1;
                            &::after {
                                transform: rotate(-720deg);
                            }
                        }
                        }
                }
                    .titre-txt {
                        width: 80%;
                        margin: 15px 10px;
                        transition: width 800ms;
                    
                        h3 {
                            font-size: 20px;
                            margin-bottom: 6px;
                        }
                    
                        p {
                            width: 100%;
                            overflow: hidden;
                            display: block;
                        }
                    
                        p, span {
                            font-size: 17px;
                        }
                    
                        .p-prix {
                            display: flex;
                        }
                    }
                    
                    .check{
                        position: absolute;
                        display: flex;
                        top: 0;
                        right:0;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 10%;
                        transform: translateX(110px);
                        transition: transform 800ms;
                        background-color: #99E2D0;
                        &:after {
                            font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058";
                            font-size: 20px;
                            color: white;
                            transform: rotate(0deg);
                            transition: transform 600ms 100ms;
                        }
                    }
            }
    }

    .button-command {
            border: transparent 1px solid;  
            border-radius: 25px;
            padding: 15px 30px;
            margin: 20px 430px;
            color: white;
            font-size: 15px;
            font-weight: bold;
            background-color: $color-secondary;
            box-shadow: 2px 2px 5px #9e9e9e;
    }
    
    footer {
        width: 100%;
        margin-top: 20px;
    }
}

/*Version mobile*/

@media screen and (max-width:767px) {

    body {
        flex: 1;
        padding: 0;
        margin: 0;
    }

    header {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
            .fa-arrow-left {
                margin-left: 10px;
                color: grey;
            }
                .logo-header {
                    margin-right: 90px;
                }
    }
    
    main img {
        object-fit: cover;
    }

    .titre-coeur {
        background-color: #f2f2f2;
        border-radius: 30px 30px 0 0;
            h1 {
                font-family: $font-family-primary;
                font-size: 30px;
            }
            .fa-heart {
                font-size: 25px;
            }
            .fa-heart:hover {
                background: linear-gradient($color-primary, $color-secondary);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 0.5s ease-out;
                font-weight: bold;
            }
    }

    .menu {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        margin-bottom: 20px;
            .entrees, .plats, .desserts {
                width: 99%;
                    h2 {
                        width: 50px;
                        display: flex;
                        font-size: 20px;
                        border-bottom: 4px $color-tertiary solid;
                        padding-left: 0px;
                        padding-bottom: 10px;
                        margin-left: 15px;
                        left: 0;
                        font-weight: normal;
                    }
                .assiete-entree, .assiete-plat, .assiete-dessert {
                    margin-left: 3px;
                        h3 {
                            font-size: 18px;
                        }
                            .p-prix {
                                p {
                                    font-size: 16px;
                                }
                                    span {
                                        font-size: 15px;
                                    }
                            }
                }
            }
    }
    .button-command {
        border: transparent 1px solid;  
        border-radius: 25px;
        padding: 15px 40px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin: 50px 0 80px 100px;
        background: -webkit-linear-gradient($color-primary 10%, $color-secondary 90%);
        box-shadow: 1px 1px 5px #9e9e9e;
    }
    
    footer {
        width: auto;
        height: auto;
    }
}