$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$font-family-primary: 'Shrikhand', cursive; /*Logo et Titres*/
$font-family-secondary: 'Roboto', sans-serif; /*Texte*/

body {
    flex: 1;
    padding: 0;
    margin: 0;
}    

header {
    width: 100%;
    $font-family-primary: 'Shrikhand', cursive;
    object-fit: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
        .fa-arrow-left {
            margin-left: -420px;
        }
            .logo-header {
                margin-right: 420px;
            }
}

main img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.titre-coeur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        h1 {
            $font-family-primary: 'Shrikhand', cursive;
            font-size: 45px;
        }
            .fa-heart {
                font-size: 30px;
                padding: 10px 0 0 20px;
            }
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f2f2f2;
        .entrees {
            width: 25%;
            height: auto;
                h2 {
                    $font-family-primary: 'Shrikhand', cursive;
                    font-size: 25px;
                    text-align: center;
                }
                    .assiete-entree {
                        width: 100%;
                        height: auto;
                        background-color: white;
                        border: white 2px solid;
                        border-radius: 20px;
                        margin-bottom: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        h3 {
                            $font-family-primary: 'Shrikhand', cursive;
                            font-size: 23px;
                            margin-top: 5px;
                            padding-left: 20px;
                        }
                            p {
                                font-size: 20px;
                                margin-top: 0;
                                margin-bottom: 5px;
                                padding-left: 20px;
                            }
                                .check {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    span {
                                        font-weight: bold;
                                        margin-top: 0;
                                        padding-right: 20px;
                                    }
                                }
                            
                    }
        }
            .plats {
                width: 25%;
                height: auto;
                    h2 {
                        $font-family-primary: 'Shrikhand', cursive;
                        font-size: 25px;
                        text-align: center;
                    }
                        .assiete-plat {
                            width: 100%;
                            height: auto;
                            background-color: white;
                            border: white 2px solid;
                            border-radius: 20px;
                            margin-bottom: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            h3 {
                                $font-family-primary: 'Shrikhand', cursive;
                                font-size: 23px;
                                margin-top: 5px;
                                padding-left: 20px;
                            }
                                .p-prix {
                                    font-size: 21px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                        p {
                                            margin-top: 0;
                                            margin-bottom: 5px;
                                            padding-left: 20px;
                                        }
                                            span {
                                                font-weight: bold;
                                                margin-top: 0;
                                                padding-right: 20px;
                                            }      
                                }
                        }
            }
                .desserts {
                    width: 25%;
                    height: auto;
                        h2 {
                            $font-family-primary: 'Shrikhand', cursive;
                            font-size: 25px;
                            text-align: center;
                        }
                            .assiete-dessert {
                                width: 100%;
                                height: auto;
                                background-color: white;
                                border: white 2px solid;
                                border-radius: 20px;
                                margin-bottom: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                h3 {
                                    $font-family-primary: 'Shrikhand', cursive;
                                    font-size: 23px;
                                    margin-top: 5px;
                                    padding-left: 20px;
                                }
                                    .p-prix {
                                        font-size: 21px;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                            p {
                                                margin-top: 0;
                                                margin-bottom: 5px;
                                                padding-left: 20px;
                                            }
                                                span {
                                                    font-weight: bold;
                                                    margin-top: 0;
                                                    padding-right: 20px;
                                                }    
                                    }
                            }
                }
}

.button-command {
    border: transparent 1px solid;  
    border-radius: 25px;
    padding: 15px 30px;
    margin: 20px 860px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background: -webkit-linear-gradient($color-primary 30%, $color-secondary 70%);
    box-shadow: 2px 2px 5px #9e9e9e;
}

footer {
    $font-family-secondary: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: #595959;
        h2 {
            $font-family-primary: 'Shrikhand', cursive;
            top: 0;
            font-size: 30px;
            padding-top: 10px;
            padding-left: 40px;
            color: white;
            text-decoration: none;
        }
            a:link {
                text-decoration: none;
            }
            a:visited {
                color: white;
            }
            li {
                color: white;
                list-style: none;
                text-decoration: none;
                margin-bottom: 10px;
                    a {
                        color: white;
                    }
            }
            .fa-utensils {
                padding-right: 20px;
            }
            .fa-hands-helping {
                    padding-right: 10px;
            }
}

/*Version tablette*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    body {
        flex: 1;
        padding: 0;
        margin: 0;
    }

    header {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
            .fa-arrow-left {
                margin-left: 10px;
            }
                .logo-header {
                    margin-right: 450px;
                }
    }

    .menu {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f2f2f2;
        margin-bottom: 20px;
            .entrees {
                width: 100%;
                margin-right: 15px;
                margin-bottom: 25px;
                    h2 {
                        font-size: 20px;
                    }
                .assiete-entree {
                    width: 100%;
                    height: auto;
                        h3 {
                            font-size: 15px;
                        }
                            .p-prix {
                                width: 100%;
                                p {
                                    font-size: 12px;
                                }
                                    span {
                                        font-size: 12px;
                                    }
                            }
                }
            }
                .plats {
                    width: 100%;
                    margin-bottom: 25px;
                    margin-right: 15px;
                        h2 {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            font-size: 20px;
                        }
                    .assiete-plat {
                        width: 100%;
                        height: auto;
                            h3 {
                                font-size: 15px;
                            }
                                .p-prix {
                                    width: 100%;
                                    p {
                                        font-size: 12px;
                                    }
                                        span {
                                            font-size: 12px;
                                        }
                                }
                    }
                }
                    .desserts {
                        width: 100%;
                        margin-bottom: 25px;
                            h2 {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                font-size: 20px;
                            }
                        .assiete-dessert {
                            width: 100%;
                            height: auto;
                                h3 {
                                    font-size: 15px;
                                }
                                    .p-prix {
                                        width: 100%;
                                        p {
                                            font-size: 12px;
                                        }
                                            span {
                                                font-size: 12px;
                                            }
                                    }
                        }
                    }
    }
    .button-command {
            border: transparent 1px solid;  
            border-radius: 25px;
            padding: 15px 30px;
            margin: 20px 430px;
            color: white;
            font-size: 15px;
            font-weight: bold;
            background-color: $color-secondary;
            box-shadow: 2px 2px 5px #9e9e9e;
    }
    
    footer {
        width: 100%;
        margin-top: 20px;
    }
}

/*Version mobile*/

@media screen and (max-width:767px) {

    body {
        flex: 1;
        padding: 0;
        margin: 0;
    }

    header {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
            .fa-arrow-left {
                margin-left: 10px;
            }
                .logo-header {
                    margin-right: 90px;
                }
    }
    
    main img {
        object-fit: cover;
    }

    .titre-coeur {
        background-color: #f2f2f2;
        border-radius: 30px 30px 0 0;
        text-decoration: none;
            h1 {
                font-family: $font-family-primary;
                font-size: 35px;
                .coeur {
                    font-size: 25px;
                }
            }
    }

    .menu {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        margin-bottom: 30px;
            .entrees {
                width: 97%;
                    h2 {
                        display: flex;
                        padding-left: 15px;
                        font-size: 20px;
                        text-decoration: underline $color-tertiary 4px;
                    }
                .assiete-entree {
                    margin-left: 3px;
                        h3 {
                            font-size: 18px;
                        }
                            .p-prix {
                                p {
                                    font-size: 16px;
                                }
                                    span {
                                        font-size: 15px;
                                    }
                            }
                }
            }
                .plats {
                    width: 97%;
                        h2 {
                            display: flex;
                            padding-left: 15px;
                            font-size: 20px;
                            text-decoration: underline $color-tertiary 4px;
                        }
                    .assiete-plat {
                        margin-left: 3px;
                            h3 {
                                font-size: 18px;
                            }
                                .p-prix {
                                    p {
                                        font-size: 16px;
                                    }
                                        span {
                                            font-size: 15px;
                                        }
                                }
                    }
                }
                    .desserts {
                        width: 97%;
                            h2 {
                                display: flex;
                                padding-left: 15px;
                                font-size: 20px;
                                text-decoration: underline $color-tertiary 4px;
                            }
                        .assiete-dessert {
                            margin-left: 3px;
                                h3 {
                                    font-size: 18px;
                                }
                                    .p-prix {
                                        p {
                                            font-size: 16px;
                                        }
                                            span {
                                                font-size: 15px;
                                            }
                                    }
                        }
                    }
    }
    .button-command {
        border: transparent 1px solid;  
        border-radius: 25px;
        padding: 16px;
        color: white;
        font-size: 1em;
        font-weight: 500;
        margin: 20px;
        background: -webkit-linear-gradient($color-primary 10%, $color-secondary 90%);
        box-shadow: 1px 1px 5px #9e9e9e;
}
    
    footer {
        width: auto;
        height: auto;
    }
}