$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$font-family-primary: 'Shrikhand', cursive;
$font-family-secondary: 'Roboto', sans-serif;

body {
    flex: 1;
    padding: 0;
    margin: 0;
}    

header {
    width: 100%;
    $font-family-primary: 'Shrikhand', cursive;
    display: flex;
    flex-direction: row;
}

section .img-titre-coeur {
    width: 100%;
        div img {
            width: 200px;
        }
            .titre-coeur {
                display: flex;
                h1 {
                    width: 100%;
                    height: auto;
                    $font-family-primary: 'Shrikhand', cursive;
                    display: flex;
                }
        }
}

section .menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.button {
    border: transparent 1px solid;  
    border-radius: 25px;
    padding: 16px;
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin: 20px;
    padding-bottom: 20px;
    background-color: $color-secondary #FF79DA;
}

footer {
    $font-family-secondary: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: #595959;
        h2 {
            top: 0;
            font-size: 30px;
            padding-top: 10px;
            padding-left: 40px;
            color: white;
            text-decoration: none;
        }
            a:visited {
                color: white;
            }
            li {
                color: white;
                list-style: none;
                text-decoration: none;
                margin-bottom: 10px;
                    a {
                        color: white;
                    }
                        a:link {
                            text-decoration: none;
                        }
            }
            .fa-utensils {
                padding-right: 20px;
            }
            .fa-hands-helping {
                padding-right: 10px;
            }
}